body{
  padding: 10px;
  overflow-x: hidden;
}

.graph_wrapper{
  .title{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 25px;
  }
}

.chartWrapper {
    position: relative;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}

.chartAreaWrapper {
    width: 100%;
    overflow-x: scroll;
}



//.summary_wrapper{
//    .title{
//      font-size: 1.5em;
//      font-weight: 400;
//      margin-top: 15px;
//    }
.summ_image{

 img{
    width: 100%;
    max-height:350px;
  }
}
    .summary_list{
      .summ_item{
          //padding:10px;
          //border:5px solid;// gray;
          //border-radius: 4px;

          //.summ_image{

           //img{
            //  width: 100%;
            //  max-height:350px;
            //}
         // }

        .summ_info{
          p{
            font-weight: 300;
          }
        }
      }
    }
//}

.timeline_wrapper{
  .title{
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 15px;
  }
  .posts_list{
    .post_item{
        padding:10px;
        border:5px solid gray;
        border-radius: 4px;
      .post_image{
        img{
          width: 100%;
        }
      }
      .post_info{
        p{
          font-weight: 300;
        }
      }
    }
  }
}
